body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    
    margin: 0 auto;
    padding: 0px;
    min-width:600px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #f9fAf8;
    padding: 10px;
    
}

.header-logo h3{
    margin: 0;
    font-size: 24px;
    
}

.header-links {
    display: flex;
    gap: 15px;
    
}

.header-links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    background-color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-text {
    flex: 1;
    color:#e5e7eb;
    margin-left:20px;
    font-size: 24px;
}
.hero-text h1 {
    color:#f9fAf8;
    font-size: 48px;
    padding:0px;
    margin: 0px;
    
}
.hero-text button {
    color: #e5e7eb;
    background-color: #22b24c;
    border-radius: 20px;
    border: 2px #e5e7eb solid;
    font-size: 20px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
}

.hero-image {
    flex: 1;
    margin-right: 20px;
    
}
.hero-image img{
    width:100%;
    
}
.information {
    text-align: center;
    padding: 20px 0;
    
}

.info-cards {
    display: flex;
    justify-content: space-around;
}

.info-card {
    flex: 1;
    padding: 0px;
}
.info-card p{
    margin:25px
}
.info-card img {
    width:100px;
    border: 4px #3882f6 solid;
    border-radius: 25px;;
}
.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    
    background-color: #e5e7eb;
}
.testimonial blockquote {
    text-align: center;
    max-width: 800px;
    width: 800px;
    margin-left: 100px;
    margin-right: 100px;;
    
}
cite {
    display: flex;
    justify-content: end;
}
.testimonial p {
    font-size: 30px;
    font-style: italic ;
    color:#1F2937;
}

.call-to-action {
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    background-color: #3882f6;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
}
.call-to-action-text {
    display: flex;
    flex-direction: column;
    
}
.call-to-action-text h3 {
    font-size: 30px;
    padding-top: 20px;
    margin: 0px;
    margin-bottom:2px;
    text-align: start;
    color: #e5e7eb;
}
.call-to-action-text p {
    font-size: 20px;
    padding: 0px 0;
    padding-bottom: 20px;
    margin: 0px;
    color: #e5e7eb;
}
.call-to-action button {
    background-color: #3882f6;
    border: 3px white solid;
    border-radius: 15px;
    width: 130px;
    height: 60px;
    align-self: center;
    justify-self: flex-end;
    padding: 0px;
    color: #e5e7eb;
    font-variant: small-caps;
    font-size: 25px;
    font-weight: bolder;
}


footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}













